.catalog {
    margin-top: 15rem;
}

.catalog__title {
    margin: 0 0 50px;

    text-align: center;

    font-size: 3.6rem;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.catalog__slider {
    margin-bottom: 3rem;
}
