.clients {
    position: relative;

    margin-top: 16rem;
    padding: 13rem 0 115px;

    background-color: $bg_blue;
}

.clients__shape1 {
    position: absolute;
    left: calc(50% - 550px);
    bottom: -25px;

    transform: rotate(45deg);

    animation: linear scale 1s infinite alternate;
}

.clients__shape2 {
    position: absolute;
    left: calc(50% - 250px);
    top: 30px;

    animation: linear scale 1s infinite alternate;

    @include media-breakpoint-down(sm) {
        right: 20px;
        top: 10px;
        left: unset;
    }
}

.clients__row {
    display: flex;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

.clients__col {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;

    &--row {
        flex-basis: 65%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.clients__title {
    margin: 20px 0 20px;

    font-size: 3.6rem;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.clients__text {
    position: relative;

    margin: 0 0 80px;
    padding-left: 20px;

    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;

    &::before {
        position: absolute;
        left: 0;
        top: 5px;

        display: inline-block;
        vertical-align: middle;

        content: "";
        width: 7px;
        height: 7px;

        transform: rotate(45deg);
        background-color: $pink;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
    }
}

.clients__btn {
    position: relative;
    align-self: flex-end;

    width: 220px;
    height: 46px;

    border-radius: 23px;

    @include media-breakpoint-down(sm) {
        position: absolute;
        bottom: 50px;
    }
}

.clients__line {
    position: absolute;
    left: calc(50% - 1050px);
    bottom: 233px;

    width: 625px;
    height: 1px;
    background-color: #4d397b;

    &::before {
        position: absolute;
        bottom: -3px;
        right: 0;

        content: "";
        width: 7px;
        height: 7px;
        transform: rotate(45deg);

        background-color: $pink;
    }

    @include media-breakpoint-between(md, lg) {
        bottom: 260px;
    }

    @include media-breakpoint-down(sm) {
        left: 0;
        bottom: 70px;
        width: 25vw;
    }
}

.clients__box {
    width: fit-content;
    flex-basis: 25%;

    line-height: 115px;

    text-align: center;

    @include media-breakpoint-down(sm) {
        flex-basis: 33%;
    }
}

.clients__img {
    vertical-align: middle;

    @include media-breakpoint-between(xs, lg) {
        width: 12rem;
    }
}
