.logo {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

.logo__link {
    text-decoration: none;
}

.logo__icon {
    width: 12.5rem;
    height: 3.8rem;

    padding-right: .5rem;

    vertical-align: text-bottom;

    transition: .2s linear;

    &:hover {
        opacity: .7;
    }

    @include media-breakpoint-down(md) {
        vertical-align: super;
    }

    @include media-breakpoint-down(sm) {
        vertical-align: text-bottom;
        display: none;
    }
}

.logo__icon--footer {
    @include media-breakpoint-down(md) {
        vertical-align: text-bottom;
    }
}

.logo__icon--little {
    display: none;
    width: 16px;

    @include media-breakpoint-down(sm) {
        display: block;
    }
}

.logo__text {
    font-size: 1.2rem;
    line-height: normal;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.logo__2021 {
    padding-right: 2.5rem;

    font-size: 3.8rem;
    font-weight: bold;
    color: $white;
    transition: opacity .2s ease-out;

    &:hover {
        opacity: 0.8;
    }

    & .pink {
        color: $pink;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }
}
