.collapse {
    justify-content: center;
}

.nav-link {
    position: relative;

    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    transition: color .2s ease-in;

    &:hover {
        color: $pink;

        &::after {
            visibility: visible;
            opacity: 1;
        }
    }

    &::after {
        position: absolute;
        bottom: -12px;
        left: 50%;

        content: "";
        visibility: hidden;
        opacity: 0;

        width: 6px;
        height: 6px;
        background-color: #6800f0;
        transform: rotate(45deg) translateX(-50%);

        transition: all .2s ease-in;
    }


}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
