.project-box {
    position: relative;

    width: 43rem;

    margin-top: 30px;

    cursor: pointer;

    animation: circle 1s infinite alternate .3s;

    &.right {
        margin: 30px auto 0;
    }

    &:hover .project-box__img {
        transform: translateY(-5px);
    }

    @include media-breakpoint-down(sm) {
        width: 42rem;
    }
}

.project-box__img {
    position: absolute;
    left: 30px;
    top: -30px;

    width: 46rem;
    height: auto;

    transition: .2s;

    @include media-breakpoint-down(sm) {
        width: 42rem;
    }
}

.project-box__rect {
    width: 43rem;
    height: 41.9rem;
    border: solid 3px $pink;

    &.blue {
        border-color: #36b5f8;
    }

    @include media-breakpoint-down(sm) {
        width: 42rem;
        height: 37rem;
    }
}

.project-box__title {
    position: absolute;
    left: 0;
    top: 25.3rem;

    display: flex;
    align-items: center;

    padding-left: 20px;

    font-size: 1.9rem;
    font-weight: 600;
    line-height: normal;

    width: 24.2rem;
    height: 6rem;
    opacity: 0.85;
    background-color: #4f03bf;

    &.right {
        top: 0;
        right: -6rem;
        left: unset;

        @include media-breakpoint-down(sm) {
            right: -5rem;
        }
    }

    @include media-breakpoint-down(sm) {
        top: 21rem;
    }
}

.project-box__text {
    position: absolute;
    left: 0;
    top: 31.3rem;

    display: flex;
    align-items: center;

    padding-left: 20px;

    font-size: 1.9rem;
    font-weight: 600;

    width: 15.6rem;
    height: 4rem;
    opacity: 0.85;
    background-color: #9c0ce8;

    &.right {
        top: 6rem;
        right: -6rem;
        left: unset;

        @include media-breakpoint-down(sm) {
            right: -5rem;
        }
    }

    @include media-breakpoint-down(sm) {
        top: 27rem;
    }
}

.project-box + .project-box {
    margin-top: 65px;
}
