.services {
    margin-top: 16.7rem;
}

.services__title {
    margin: 0 0 23px;

    text-transform: uppercase;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 900;
}

.services__text {
    position: relative;
    margin: 0 0 50px;

    text-align: center;

    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;

    &::before {
        margin-right: 1.5rem;

        display: inline-block;
        vertical-align: middle;

        content: "";
        width: .7rem;
        height: .7rem;

        transform: rotate(45deg);
        background-color: $pink;
    }
}

.services__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services__col {
    margin: 15px;
}
