.work-box {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 241px;

    border-radius: 10px;
    border: solid 2px $pink;

    @include media-breakpoint-only(xs) {
        flex-direction: column;
    }
}

.work-box__icon {
    width: 7.7rem;
    height: 7.6rem;

    fill: $pink;
}

.work-box__article {
    display: flex;
    align-items: center;
}

.work-box__number {
    margin: 0 10px 0 0;

    font-family: Muller;
    font-size: 11rem;
    font-weight: 800;
    line-height: normal;

    text-shadow: $text_shadow;
}

.work-box__title {
    margin: 0;

    font-size: 2.4rem;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.work-box__text {
    margin: 0;

    font-size: 1.4rem;
    font-weight: normal;
    line-height: normal;
}
