.work {
    margin-top: 23rem;

    @include media-breakpoint-down(md) {
        position: relative;
        padding-bottom: 50px;
    }
}

.work__header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 5rem;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }
}

.work__title {
    margin: 0;

    font-size: 3.6rem;
    font-weight: 900;
    line-height: 3.6rem;

    text-transform: uppercase;

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }
}

.work__text {
    position: relative;

    margin: 0;

    font-size: 1.6rem;
    font-weight: normal;
    line-height: normal;

    &::before {
        position: absolute;
        left: -20px;
        top: 5px;

        display: inline-block;
        vertical-align: middle;

        content: "";
        width: 7px;
        height: 7px;

        transform: rotate(45deg);
        background-color: $pink;
    }

    @include media-breakpoint-down(md) {
        margin-left: 20px;
    }
}

.work__arrows {
    @include media-breakpoint-down(md) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
