<section class="book">

    <div class="book__col">
        <div class="book__bg"></div>
        <svg class="book__arrow">
            <use xlink:href="#right-arrow"></use>
        </svg>
        <svg class="book__arrow--down">
            <use xlink:href="#down-arrow"></use>
        </svg>
        <img class="book__shape1" src="../assets/img/main/shape1.png" alt="shape">
        <img class="book__shape2" src="../assets/img/main/shape2.png" alt="shape">
        <img class="book__book_img" src="../assets/img/book/book.png" alt="shape">
        <div class="book__circle-little"></div>
        <div class="book__circle-big"></div>
    </div> <!-- book__col -->

    <div class="book__col">

        <h3 class="book__title  title">Хотите так же или лучше?</h3>
        <p class="book__text">
            Оставьте заявку и получите консультацию <br>
            и дизайн-проект
            <span class="book__text--pink">БЕСПЛАТНО!</span>
        </p>

        <form class="book__form  form" id="form-mail" onsubmit="return sendMail(this);">
            <input class="form__input" type="text" name="name" placeholder="Введите ваше имя"><br>
            <input class="form__input" type="text" name="phone" placeholder="+7 (___) ___-__-__" required><br>
            <button class="form__btn  btn  btn--gradient" type="submit" id="submintBTN">ОСТАВИТЬ ЗАЯВКУ</button>
            <input type="hidden" name="yandex" value="consult">
        </form>
        <div class="form__thanks">
            Спасибо за заявку! <br>В ближайшее время мы с Вами свяжемся!
        </div>

        <div class="book__line"></div>
        <img class="book__bubbles" src="../assets/img/book/bubbles.png" alt="bubbles">

    </div> <!-- book__col -->

</section>
