<section class="catalog">

    <h2 class="catalog__title  title">Наш каталог</h2>

    <div class="catalog__slider  container" id="catalog">

        <div>
            <div class="catalog__item  catalog_box">
                <img class="catalog_box__img" src="../assets/img/catalog/composition.png" alt="composition">
                <h5 class="catalog_box__title">ПРОСТРАНСТВЕННЫЕ <br>КОМПОЗИЦИИ</h5>
                <button class="catalog_box__btn  btn" data-toggle="modal" data-target="#catalogModal" data-yandex="catalog">Скачать каталог</button>
            </div>
        </div>

        <div>
            <div class="catalog__item  catalog_box">
                <img class="catalog_box__img" src="../assets/img/catalog/tree.png" alt="composition">
                <h5 class="catalog_box__title">КОНУСЫ И ЁЛКИ</h5>
                <button class="catalog_box__btn  btn" data-toggle="modal" data-target="#catalogModal" data-yandex="catalog">Скачать каталог</button>
            </div>
        </div>

        <div>
            <div class="catalog__item  catalog_box">
                <img class="catalog_box__img" src="../assets/img/catalog/fountain.png" alt="composition">
                <h5 class="catalog_box__title">СВЕТОВЫЕ ФОНТАНЫ</h5>
                <button class="catalog_box__btn  btn" data-toggle="modal" data-target="#catalogModal" data-yandex="catalog">Скачать каталог</button>
            </div>
        </div>

        <div>
            <div class="catalog__item  catalog_box">
                <img class="catalog_box__img" src="../assets/img/catalog/figure.png" alt="composition">
                <h5 class="catalog_box__title">ФИГУРЫ ИЗ МИШУРЫ</h5>
                <button class="catalog_box__btn  btn" data-toggle="modal" data-target="#catalogModal" data-yandex="catalog">Скачать каталог</button>
            </div>
        </div>

        <div>
            <div class="catalog__item  catalog_box">
                <img class="catalog_box__img" src="../assets/img/catalog/figure.png" alt="composition">
                <h5 class="catalog_box__title">ФИГУРЫ ИЗ МИШУРЫ</h5>
                <button class="catalog_box__btn  btn" data-toggle="modal" data-target="#catalogModal" data-yandex="catalog">Скачать каталог</button>
            </div>
        </div>

    </div> <!-- catalog__slider -->

    <div class="catalog__slider-arrows  slider-arrows">
        <button class="slider-arrows__btn  prev" id="catalog-arrow-prev">
            <svg class="slider-arrows__icon">
                <use xlink:href="#slider-arrow"></use>
            </svg>
        </button>
        <button class="slider-arrows__btn" id="catalog-arrow-next">
            <svg class="slider-arrows__icon">
                <use xlink:href="#slider-arrow"></use>
            </svg>
        </button>
    </div>

</section>
