<section class="clients">

    <img class="clients__shape1" src="../assets/img/main/shape1.png" alt="shape">
    <img class="clients__shape2" src="../assets/img/main/shape2.png" alt="shape">

    <div class="clients__row  container">

        <div class="clients__col">
            <h2 class="clients__title  title">Наши клиенты</h2>
            <p class="clients__text">
                Мы имеем опыт работы с крупнейшими <br>компаниями Беларуси
            </p>
            <button class="clients__btn  btn  btn--gradient" data-toggle="modal" data-target="#calculateModal" data-title="Получить консультацию" data-yandex="consult">Получить консультацию</button>
            <div class="clients__line"></div>
        </div> <!-- clients__col -->

        <div class="clients__col clients__col--row">
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/korona.png" alt="korona">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/dana.png" alt="dana">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/evrotorg.png" alt="evrotorg">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/alti.png" alt="alti">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/mart-inn.png" alt="mart-inn">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/traipl.png" alt="traipl">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/mcdonalds.png" alt="mcdonalds">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/academy.png" alt="academy">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/belcal.png" alt="belcal">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/gas.png" alt="gas">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/aps.png" alt="aps">
            </div>
            <div class="clients__box">
                <img class="clients__img" src="../assets/img/clients/bigz.png" alt="bigz">
            </div>
        </div> <!-- clients__row -->

    </div> <!-- clients__row -->

</section>
