<section class="find">

    <div class="find__bg"></div>
    <div class="find__line"></div>
    <img class="find__wave" src="../assets/img/find/wave3.png" alt="wave">

    <div class="find__col-text">
        <h3 class="find__title  title">Не нашли то, что искали?</h3>
        <p class="find__text">
            Оставьте заявку и мы изготовим для Вас <br>
            иллюминацию индивидуального дизайна
        </p>
        <form class="form" onsubmit="return sendMail(this);">
            <input class="form__input" name="name" type="text" placeholder="Введите ваше имя">
            <input class="form__input" name="phone" type="text" placeholder="+7 (___) ___ - __-__">
            <button class="form__btn  btn  btn--gradient" type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
            <input type="hidden" name="yandex" value="consult">
            <div class="form__thanks">Спасибо за заявку! В ближайшее время мы с Вами свяжемся!</div>
        </form>
    </div>

    <div class="find__col-img">
        <div class="find__rect"></div>
        <img class="find__img" src="../assets/img/find/mockup.png" alt="mockup">
    </div>

</section>
