<header class="header container">

    <div class="header__logo  logo">
        <a class="logo__link" href="https://1illumination.ru/">
            <svg class="logo__icon">
                <use xlink:href="#logo"></use>
            </svg>
            <span class="logo__2021">20<span class="pink">21</span></span>
        </a>
        <span class="logo__text">Производство праздничной <br>каркасной иллюминации</span>
    </div> <!-- // logo -->

    <div class="header__social  social">
        <a class="social__link" href="https://www.instagram.com/1illumination.ru/" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#instagram"></use>
            </svg>
        </a>
        <a class="social__link" href="https://www.facebook.com/1illumination.ru/" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#facebook"></use>
            </svg>
        </a>
    </div> <!-- header__social -->

    <div class="header__buttons">
        <button class="btn  btn--gradient" data-toggle="modal" data-target="#calculateModal" data-title="Заказать расчет" data-yandex="order">Заказать расчет</button>
        <button class="btn  btn--empty" data-toggle="modal" data-target="#calculateModal" data-title="Заказать звонок" data-yandex="consult">Заказать звонок</button>
    </div> <!-- header__buttons -->

    <div class="header__phone  phone">
        <svg class="phone__before">
            <use xlink:href="#phone"></use>
        </svg>
        <a class="phone__link" href="tel:+79262844062">+7 (926) 284-40-62</a>
        <a class="phone__link-icon" href="https://teleg.run/ru1illumination" target="_blank">
            <svg class="phone__icon">
                <use xlink:href="#telegram"></use>
            </svg>
        </a>
        <a class="phone__link-icon" href="https://wa.me/79360000248?text=Доброго%20дня!" target="_blank">
            <svg class="phone__icon">
                <use xlink:href="#whatsapp"></use>
            </svg>
        </a>
    </div> <!-- header__phone -->

</header>

<div class="line"></div>
