<section class="ideas">
    <h2 class="ideas__title  title">Идеи оформления</h2>

    <div class="ideas__slider  container" id="idea-slider">

        <div>
            <div class="ideas__element" data-src="../assets/img/ideas/big/01.jpg" >
                <img class="ideas__img" src="../assets/img/ideas/01.jpg" alt="project">
            </div>
        </div>

        <div>
            <div class="ideas__element  center" data-src="../assets/img/ideas/big/02.jpg">
                <img class="ideas__img" src="../assets/img/ideas/02.jpg" alt="project">
            </div>
        </div>

        <div>
            <div class="ideas__element  center" data-src="../assets/img/ideas/big/03.jpg">
                <img class="ideas__img" src="../assets/img/ideas/03.jpg" alt="project">
            </div>
        </div>

        <div>
            <div class="ideas__element" data-src="../assets/img/ideas/big/04.jpg">
                <img class="ideas__img" src="../assets/img/ideas/04.jpg" alt="project">
            </div>
        </div>

        <div>
            <div class="ideas__element" data-src="../assets/img/ideas/big/05.jpg">
                <img class="ideas__img" src="../assets/img/ideas/05.jpg" alt="project">
            </div>
        </div>

        <div>
            <div class="ideas__element" data-src="../assets/img/ideas/big/06.jpg">
                <img class="ideas__img" src="../assets/img/ideas/06.jpg" alt="project">
            </div>
        </div>

        <div>
            <div class="ideas__element" data-src="../assets/img/ideas/big/07.jpg">
                <img class="ideas__img" src="../assets/img/ideas/07.jpg" alt="project">
            </div>
        </div>

    </div> <!-- deas__slider -->

    <div class="idea__slider-arrows  slider-arrows">
        <button class="slider-arrows__btn  prev" id="idea-arrow-prev">
            <svg class="slider-arrows__icon">
                <use xlink:href="#slider-arrow"></use>
            </svg>
        </button>
        <button class="slider-arrows__btn" id="idea-arrow-next">
            <svg class="slider-arrows__icon">
                <use xlink:href="#slider-arrow"></use>
            </svg>
        </button>
    </div>

</section>
