<section class="ideas">

    <h2 class="ideas__title  title">Идеи оформления</h2>

    <div class="ideas__cards">
        <div class="idea__card">
            <img class="idea-img" loading="lazy" src="img/ideas/11l.jpg" alt="" data-toggle="modal" data-src="img/ideas/11f.jpg" data-target="#ideaImgModal">
        </div>
    </div>

    <div class="ideas__slider" id="idea">

        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/01.jpg" alt="project">
            </div>
        </div>
        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/02.jpg" alt="project">
            </div>
        </div>
        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/03.jpg" alt="project">
            </div>
        </div>
        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/04.jpg" alt="project">
            </div>
        </div>
        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/05.jpg" alt="project">
            </div>
        </div>
        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/06.jpg" alt="project">
            </div>
        </div>
        <div>
            <div class="ideas__element">
                <img class="ideas__img" src="../assets/img/ideas/06.jpg" alt="project">
            </div>
        </div>

    </div>

        <div class="catalog__slider-arrows  slider-arrows">
        <button class="slider-arrows__btn  prev" id="idea-arrow-prev">
            <svg class="slider-arrows__icon">
                <use xlink:href="#slider-arrow"></use>
            </svg>
        </button>
        <button class="slider-arrows__btn" id="idea-arrow-next">
            <svg class="slider-arrows__icon">
                <use xlink:href="#slider-arrow"></use>
            </svg>
        </button>
    </div>

</section>
