<section class="main">

    {{> header }}

    <nav class="navbar  navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse  navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">о нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clients">КЛИЕНТЫ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#catalog">каталог</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main__container">
        <div class="container">
            <h1 class="main__title title">
                НОВОГОДНЕЕ ОФОРМЛЕНИЕ <br>
                АДМИНИСТРАТИВНЫХ ЗДАНИЙ,<br>
                ТОРГОВЫХ ЦЕНТРОВ, ГОРОДСКИХ<br>
                ПЛОЩАДЕЙ И ЧАСТНЫХ ДОМОВ
            </h1>
            <p class="main__subtitle">«Под ключ», с дизайн-проектом и монтажом</p>
            <button class="btn  btn--gradient  btn--play">
                Посмотреть видео
                <svg class="btn__icon">
                    <use xlink:href="#play"></use>
                </svg>
            </button>
        </div>
    </div><!-- main__container -->

    <div class="main__down down">
        <div class="down__text">Листайте вниз</div>
        <a class="down__link" href="#projects">
            <img class="down__icon" src="../assets/img/main/download.svg" alt="вниз">
        </a>
    </div>
    <!-- main__down -->

    <!-- bg images -->
    <div class="main__circle-little"></div>
    <div class="main__circle-big"></div>
    <img class="main__deer" src="../assets/img/main/deer.png" alt="олень">
    <img class="main__shape1" src="../assets/img/main/shape1.png" alt="shape">
    <img class="main__shape2" src="../assets/img/main/shape2.png" alt="shape">
    <img class="main__shape3" src="../assets/img/main/shape3.png" alt="shape">
    <img class="main__shape4" src="../assets/img/main/shape4.png" alt="shape">
    <img class="main__wave1" src="../assets/img/main/wave1.png" alt="wave">
    <img class="main__wave2" src="../assets/img/main/wave2.png" alt="wave">
    <!-- // bg images -->

</section>
