<section class="main">
    <a name="main"></a>

    {{> header }}

    <div class="main__container  container">
        <h1 class="main__title title">
            Новогоднее оформление фасадов и интерьера зданий
        </h1>
        <p class="main__subtitle">«Под ключ», с дизайн-проектом и монтажом</p>

        <img class="main__deer" src="../assets/img/main/deer.png" alt="олень">

        <button class="main__btn  btn  btn--gradient  btn--play" data-toggle="modal" data-target="#youtubeModal">
            Посмотреть видео
            <svg class="btn__icon">
                <use xlink:href="#play"></use>
            </svg>
        </button>
    </div><!-- main__container -->

    <div class="main__down  down">
        <div class="down__text">Листайте вниз</div>
        <a class="down__link" href="#services">
            <img class="down__icon" src="../assets/img/main/download.svg" alt="вниз">
        </a>
    </div>
    <!-- main__down -->

    <!-- bg images -->
    <div class="main__circle-little"></div>
    <div class="main__circle-big"></div>
    <img class="main__shape1" src="../assets/img/main/shape1.png" alt="shape">
    <img class="main__shape2" src="../assets/img/main/shape2.png" alt="shape">
    <img class="main__shape3" src="../assets/img/main/shape3.png" alt="shape">
    <img class="main__shape4" src="../assets/img/main/shape4.png" alt="shape">
    <img class="main__wave1" src="../assets/img/main/wave1.png" alt="wave">
    <img class="main__wave2" src="../assets/img/main/wave2.png" alt="wave">
    <!-- // bg images -->

</section>
