<div class="modal  fade" id="youtubeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-xl">

        <div class="modal-content">

            <a class="modal-content__close" href="" data-dismiss="modal" aria-label="Close">
                <svg class="modal-content__icon">
                    <use xlink:href="#close"></use>
                </svg>
            </a>

            <div class="modal-content__header">
                <div class="modal-content__title  title" id="modal-header">Видео о нашей работе</div>
            </div>

            <div class="modal-body  modal__body">
                <iframe class="modal-body__iframe" id="youtube-video" data-src="https://www.youtube.com/embed/zMJ0h2bI5bE" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>

        </div>
    </div>
</div>
