<div class="modal  fade" id="modal-projects" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-lg">

        <div class="modal-content">

            <a class="modal-content__close" href="" data-dismiss="modal" aria-label="Close">
                <svg class="modal-content__icon">
                    <use xlink:href="#close"></use>
                </svg>
            </a>

            <div class="modal-content__header">
                <div class="modal-content__title  title" id="modal-header">Проекты</div>
            </div>

            <div class="modal-body  modal__body  modal-project__body">

                <div class="modal-project__slider" id="project-slider">

                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/01.jpg" alt="project">
                    </div>
                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/02.jpg" alt="project">
                    </div>
                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/03.jpg" alt="project">
                    </div>
                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/04.jpg" alt="project">
                    </div>
                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/05.jpg" alt="project">
                    </div>
                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/06.jpg" alt="project">
                    </div>
                    <div>
                        <img class="modal-projects__img" src="../assets/img/projects/07.jpg" alt="project">
                    </div>
                </div> <!-- modal-projects__slider slider -->

                <div class="project__slider-arrows  slider-arrows">
                    <button class="slider-arrows__btn  prev" id="project-arrow-prev">
                        <svg class="slider-arrows__icon">
                            <use xlink:href="#slider-arrow"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn" id="project-arrow-next">
                        <svg class="slider-arrows__icon">
                            <use xlink:href="#slider-arrow"></use>
                        </svg>
                    </button>
                </div>

            </div> <!-- modal body -->

        </div> <!-- modal content -->
    </div>
</div>
