<div class="modal  fade" id="calculateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">

        <div class="modal-content">

            <a class="modal-content__close" href="" data-dismiss="modal" aria-label="Close">
                <svg class="modal-content__icon">
                    <use xlink:href="#close"></use>
                </svg>
            </a>

            <div class="modal-content__header">
                <div class="modal-content__title  title" id="modal-header">Заказать расчет</div>
                <p class="modal-content__text" id="modal-text">
                    Оставьте заявку, и менеджер перезвонит Вам в течение 10 минут!
                </p>
            </div>

            <div class="modal-body  modal__body">
                <form class="modal-body__form  form" id="ajax_form" onsubmit="return sendMail(this);">
                    <input class="form__input  form__input--modal" type="text" name="name" placeholder="Введите ваше имя"><br>
                    <input class="form__input  form__input--modal" type="text" name="phone" placeholder="+7 (___) ___-__-__" required="">
                    <button class="btn  btn--modal  btn--gradient" id="modal-btn" type="submit">ОСТАВИТЬ ЗАЯВКУ</button>
                    <input type="hidden" name="yandex" value="consult">
                </form>
                <div class="form__thanks  form__thanks--modal">Спасибо за заявку!<br> В ближайшее время мы с Вами свяжемся!</div>
            </div>

        </div>
    </div>
</div>
