<div class="modal  fade" id="modal-img" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered  modal-lg">

        <div class="modal-img__modal-content  modal-content">

            <a class="modal-content__close" href="" data-dismiss="modal" aria-label="Close">
                <svg class="modal-content__icon">
                    <use xlink:href="#close"></use>
                </svg>
            </a>

            <img class="modal-img__img" id="modal-img__img" src="" alt="idea">

        </div>
    </div>
</div>
