<section class="projects">
    <a name="projects" id="projects"></a>

    <div class="container">
        <div class="row">

            <div class="projects__col  col-lg-6">

                <div class="projects__text">
                    <span class="one">1</span>illumination
                </div>
                <h2 class="projects__title  title">НАШИ ПРОЕКТЫ</h2>

                <div class="project-box" data-project="1">
                    <div class="project-box__rect"></div>
                    <img class="project-box__img" src="../assets/img/projects/project1.jpg" alt="project1">
                    <div class="project-box__title">Административное здание</div>
                    <div class="project-box__text">2019 год</div>
                </div>

                <div class="project-box" data-project="3">
                    <div class="project-box__rect blue"></div>
                    <img class="project-box__img" src="../assets/img/projects/project3.jpg" alt="project1">
                    <div class="project-box__title right">Частный коттедж</div>
                    <div class="project-box__text right">2018 год</div>
                </div>

            </div> <!-- col-lg-6 -->
            <div class="projects__col  col-lg-6">

                <div class="project-box right" data-project="2">
                    <div class="project-box__rect blue"></div>
                    <img class="project-box__img" src="../assets/img/projects/project2.jpg" alt="project1">
                    <div class="project-box__title right">Бульвар Пикассо</div>
                    <div class="project-box__text right">2020 год</div>
                </div>

                <div class="project-box" data-project="4">
                    <div class="project-box__rect"></div>
                    <img class="project-box__img" src="../assets/img/projects/project4.jpg" alt="project1">
                    <div class="project-box__title">Световая ель</div>
                    <div class="project-box__text">2020 год</div>
                </div>

                <button class="projects__btn  btn  btn--gradient"  data-project="5">Смотреть ещё работы</button>
                <svg class="projects__icon">
                    <use xlink:href="#arrow"></use>
                </svg>

            </div> <!-- col-lg-6 -->
        </div> <!-- row -->
    </div> <!-- container -->

    <div class="projects__line"></div>
</section>
