<section class="services  container">
    <a name="services" id="services"></a>

    <h2 class="services__title  title">Услуги</h2>
    <p class="services__text">
        Мы реализуем проекты по новогодней иллюминации любой сложности: от частных коттеджей до больших торговых центров и административных зданий.
    </p>

    <div class="services__row">

        <div class="services__col  service-box" data-toggle="modal" data-target="#calculateModal" data-title="Получить консультацию" data-yandex="consult">
            <svg class="service-box__icon">
                <use xlink:href="#house"></use>
            </svg>
            <h5 class="service-box__title">Частные коттеджи</h5>
            <p class="service-box__text">Создадим настоящую <br>сказку у Вас на участке</p>
        </div>

        <div class="services__col  service-box" data-toggle="modal" data-target="#calculateModal" data-title="Получить консультацию" data-yandex="consult">
            <svg class="service-box__icon">
                <use xlink:href="#mall"></use>
            </svg>
            <h5 class="service-box__title">Торговые центры</h5>
            <p class="service-box__text">Работаем качественно <br>и точно в срок</p>
        </div>

        <div class="services__col  service-box" data-toggle="modal" data-target="#calculateModal" data-title="Получить консультацию" data-yandex="consult">
            <svg class="service-box__icon">
                <use xlink:href="#parlament"></use>
            </svg>
            <h5 class="service-box__title">Административные здания</h5>
            <p class="service-box__text">Украсим в соответствии с <br> архитектурой, не повредив фасад</p>
        </div>

        <div class="services__col  service-box" data-toggle="modal" data-target="#calculateModal" data-title="Получить консультацию" data-yandex="consult">
            <svg class="service-box__icon">
                <use xlink:href="#lights"></use>
            </svg>
            <h5 class="service-box__title">Поставка каркасной иллюминации</h5>
            <p class="service-box__text">Собственное производство <br>
                праздничной иллюминации</p>
        </div>

        <div class="services__col  service-box" data-toggle="modal" data-target="#calculateModal" data-title="Получить консультацию" data-yandex="consult">
            <svg class="service-box__icon">
                <use xlink:href="#tree"></use>
            </svg>
            <h5 class="service-box__title">Поставка уличных и интерьерных елей</h5>
            <p class="service-box__text">Являемся официальными <br>
                дистрибьюторами производителя</p>
        </div>

    </div>
    <! -- services__row -->

</section>
