<section class="work  container">

    <div class="work__header">
        <h2 class="work__title  title">как мы работаем</h2>
        <p class="work__text">
            Ознакомьтесь с 5-ю этапами решения задачи <br>
            по новогодней иллюминации:
        </p>

        <div class="work__arrows  slider-arrows">
            <button class="slider-arrows__btn  prev" id="work-arrow-prev">
                <svg class="slider-arrows__icon">
                    <use xlink:href="#slider-arrow"></use>
                </svg>
            </button>
            <button class="slider-arrows__btn" id="work-arrow-next">
                <svg class="slider-arrows__icon">
                    <use xlink:href="#slider-arrow"></use>
                </svg>
            </button>
        </div>
    </div> <!-- work__header -->

    <div class="work__slider" id="work-slider">

        <div>
            <div class="work-box">
                <svg class="work-box__icon">
                    <use xlink:href="#loupe"></use>
                </svg>
                <div class="work-box__article">
                    <h5 class="work-box__number">1</h5>
                    <h6 class="work-box__title">
                        СБОР ИНФОРМАЦИИ
                    </h6>
                </div>
                <p class="work-box__text">
                    Собираем информацию и формируем техническое задание: <br><br>

                    01. Выявление ключевых задач объекта<br>
                    02. Изучение объекта<br>
                    03. Изучение истории бренда<br>
                    04. Изучение световой архитектурной среды территории<br>
                    05. Осмотр объекта
                </p>
            </div>
        </div>

        <div>
            <div class="work-box">
                <svg class="work-box__icon">
                    <use xlink:href="#sketch"></use>
                </svg>
                <div class="work-box__article">
                    <h5 class="work-box__number">2</h5>
                    <h6 class="work-box__title">
                        разработка
                        <br>дизайн проекта
                    </h6>
                </div>
                <p class="work-box__text">
                    Подготовим визуализацию оформления вашего объекта и<br>
                    согласуем с Вами наилучший вариант
                </p>
            </div>
        </div>

        <div>
            <div class="work-box">
                <svg class="work-box__icon">
                    <use xlink:href="#calculator"></use>
                </svg>
                <div class="work-box__article">
                    <h5 class="work-box__number">3</h5>
                    <h6 class="work-box__title">
                        ПРОЕКТИРОВАНИЕ И<br>
                        РАСЧЕТ СТОИМОСТИ
                    </h6>
                </div>
                <p class="work-box__text">
                    01. Снятие замеров<br>
                    02. Изучение материалов фасада: цвет и текстура<br>
                    03. Определение сроков реализации проекта<br>
                    04. Расчёт сметной стоимости
                </p>
            </div>
        </div>

        <div>
            <div class="work-box">
                <svg class="work-box__icon">
                    <use xlink:href="#shipped"></use>
                </svg>
                <div class="work-box__article">
                    <h5 class="work-box__number">4</h5>
                    <h6 class="work-box__title">
                        ПОСТАВКА
                    </h6>
                </div>
                <p class="work-box__text">
                    Осуществим бесплатную доставку продукции до<br>
                    Вашего объекта
                </p>
            </div>
        </div>

        <div>
            <div class="work-box">
                <svg class="work-box__icon">
                    <use xlink:href="#pencil-case"></use>
                </svg>
                <div class="work-box__article">
                    <h5 class="work-box__number">5</h5>
                    <h6 class="work-box__title">
                        МОНТАЖ
                    </h6>
                </div>
                <p class="work-box__text">
                    За 1 день выведем на Ваш объект до<br>
                    10 монтажников с опытом от 2 до 10 лет
                </p>
            </div>
        </div>

    </div> <!-- work__slider -->

</section>
